@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.login-wrapper .login-aside-left {
  background: linear-gradient(90deg, #3f77d1 25%, #508def);
}

.login-wrapper .login-aside-left:before {
  animation: example 5s linear infinite;
}
.login-wrapper .login-aside-left:after {
  animation: example 8s linear infinite;
}
@keyframes example {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform:   rotate(45deg) translate(2px, -8px);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform:  rotate(45deg) translate(2px, 8px);
  }
  100% {
    transform: rotate(45deg);
  }
}
body {
  font-family: "Poppins", sans-serif;
}
